
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";



}

<div class="container-fluid">
    <div class="bg_general">
        <img src="~/Content/Image/Home/banner.png" class="img_bg_pro" />
    </div>
    <div class="title_general">
        <a class="hover__" id="information">Information</a>
        <a class="hover_" id="change">Change Password</a>
    </div>
    <div class="container" id="display">
     
    </div>
</div>



<script>
    //$(document).ready(function () {
    //    $("#display").load("Information", "Account");
    //});
    $("#change").click(function () {
      
        $("#display").load("Change", "Account");
    });
    $("#information").click(function () {

        $("#display").load("Information", "Account");
    });

    //css cho thẻ information
</script>
