<div class="sign_layout" id="displaysignin" data-aos="fade-right" data-aos-duration="1000">
    <div class="title_sign">
        <ul class="para_title">
            <li><a class="confirm_space1" id="signin" style="color: black;">Login</a></li>
            <li><a href="" data-toggle="list" id="register" class="confirm_space">Register</a></li>
        </ul>
    </div>
    <div class="form_poc">
        <form action="/Account/Index" method="post" class="form_edits" onsubmit="return checkLogin();">
            <div>
                <p>USERNAME <red style="color: red">*</red></p>
                <input type="text" class="input_edits form-control txt--input username" placeholder="Username" oninput="checkUser();" name="username"/>
            </div>
            <div class="space_input_login">
                <p>PASSWORD <red style="color: red">*</red></p>
                <input type="password" class="input_edits form-control txt--input password" placeholder="At least 8 characters" oninput="checkPass();" id="password" name="password"/>
            </div>
            <div class="space_input_login mt-3">
                <a href="" class="forget_pass">Fogret Password ?</a>
                <button type="submit" name="signin" class="btn--dark--model btn--login mt-3">Login</button>

            </div>
        </form>
    </div>
</div>

<script>
    $("#register").click(function () {
        $("#ajax--load").load("Register", "Account");
    });
</script>
<script src="~/Content/Script/Api.js"></script>

