
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
}
<div id="ajax--load">

</div>
<script src="~/Content/Script/Api.js"></script>
<script>
    AOS.init();
    $(document).ready(function () {
        $("#ajax--load").load("Index", "Account");
    });

</script>

