@{
    ViewBag.Title = "Register";
    <link rel="stylesheet" href="~/Content/Css/demo.css" />
    <link rel="stylesheet" href="~/Content/Css/intlTelInput.css" />
}

<div class="sign_layout" id="displaysignin" data-aos="fade-right" data-aos-duration="1000">
    <div class="title_sign">
        <ul class="para_title">

            <li><a id="signup" class="confirm_space">Login</a></li>
            <li><a class="confirm_space1" style="color: black;">Register</a></li>
        </ul>
    </div>
    <div class="form_poc">
        <form action="/Account/Register" method="post" class="form_edits" onsubmit="return checkRegister();">
            <div class="name_input">
                <div>
                    <p>FIRST NAME <red style="color: red">*</red></p>
                    <input class="input_name form-control txt--input userFname" oninput="checkFName();" type="text" name="userFname" placeholder="First Name" />
                </div>
                <div>
                    <p>LAST NAME <red style="color: red">*</red></p>
                    <input class="input_name form-control txt--input userLname" oninput="checkLName();" type="text" name="userLname" placeholder="Last Name" />
                </div>
            </div>
            <div class="space_input_login">
                <p>EMAIL <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input emailID" oninput="checkEmail();" placeholder="Email" type="email" name="emailID" />
            </div>

            <div class="space_input_login">
                <p>PHONE <red style="color: red">*</red></p>


                <input class="input_edits form-control txt--input mobNo" id="mobNo" type="tel" oninput="checkPhone();" name="mobNo" />
                <div class="span_al">
                    <span id="valid-msg" class="hide">✓ Valid</span>
                    <span id="error-msg" class="hide"></span>
                </div>
              
            </div>
            <div class="space_input_login">
                <p>BIRTHDAY <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input dob" oninput="checkDob();" type="date" name="dob" />
            </div>
            <div class="space_input_login">
                <p>ADDRESS <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input address" oninput="checkAdd();" placeholder="Address" type="text" name="address" />
            </div>
            <div class="space_input_login">
                <p>CITY <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input city" oninput="checkCity();" placeholder="City" type="text" name="city" />
            </div>
            <div class="space_input_login">
                <p>USERNAME <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input username" oninput="checkUser();" type="text" placeholder="Username" name="username" />
            </div>
            <div class="space_input_login">
                <p>PASSWORD <red style="color: red">*</red></p>
                <input class="input_edits form-control txt--input password" oninput="checkPass();" type="password" placeholder="At least 8 characters" name="password" />
            </div>
            <div>
                <a class="forget_pass">Fogret Password ?</a>
                <button type="submit" id="btn" class="btn btn--dark--model" style="margin-left: 0;margin-top: 1em">Register</button>
            </div>

        </form>
    </div>
    <script src="~/Content/Script/intlTelInput.js"></script>
    <script src="~/Content/Script/utils.js"></script>
</div>

<script>
    // PHONE
    const input = document.querySelector(".mobNo");
    
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
    const iti = window.intlTelInput(input, {
        initialCountry: 'vn',
        utilsScript: "/intl-tel-input/js/utils.js?1701962297307"
    });
    const reset = () => {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
    };
    input.addEventListener('blur', () => {
      
        //input.style.border = "1px solid green";
        
        reset();
        if (input.value.trim()) {
            if (iti.isPossibleNumber()) {
                input.style.border = "1px solid green";
                validMsg.classList.remove("hide");
            } else {
                input.classList.add("error");
                input.style.border = "1px solid red";
                console.log("Blur event !");

                const errorCode = iti.getValidationError();
                errorMsg.innerHTML = errorMap[errorCode];
                errorMsg.classList.remove("hide");
            }
        }
    });
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);
    //AOS
    AOS.init();
    //AJAX
    $("#signup").click(function () {
        $("#displaysignin").load("Login", "Account");
    });
</script>