
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mgin--top">
    <div class="row">
        <div class="col-md-12">
            <a class="slide-home" href="home.php">Home </a><span>/</span><b class="slide-local"> Shopping Cart</b>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p class="title--cart">Shopping Cart</p>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>Product Name</td>
                <td>Price</td>
                <td>Qly</td>
                <td>Total</td>
            </tr>
            <tr>
                <td><img class="img--cart mt-3" src="~/Content/Image/About/diamond2.jpg"/></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

