
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="img---about---index">

            </div>
        </div>
    </div>
</div>

    <div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <p class="text---about---cline">About</p>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">While there are a lot of things to consider when selecting the right diamond for your engagement ring such as the 4 Cs, diamond shape, and sticking to your budget, have you ever wondered about the meaning and origin behind the diamond? </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">The most prized precious stone on Earth, this alluring gemstone has been coveted for centuries and steeped in myth for its breathtaking brilliance and symbolic meaning. To help you learn more about this rich history of the diamond, we have gathered up some of our favorite fascinating facts and bits of lore surrounding this truly unique gemstone.   </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---title---about">Where Do Diamonds Come From?  </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">Diamonds are the hardest natural stone on earth that are formed naturally from extreme temperatures and pressure beneath the Earth’s crust. Rough diamonds are brought to the Earth’s surface through volcanic activity. Natural diamonds are sourced from all around the world with the majority of supply coming from South Africa, Russia, and Canada.    </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">Brilliant Earth goes above and beyond the current industry standards to offer Beyond Conflict Free™ Diamonds with a listed origin of Canada or Botswana Sort. Our select group of diamond suppliers demonstrate a robust chain of custody protocol for their diamonds and have the ability to track and segregate diamonds by origin. We also offer lab created and recycled diamonds, both of which require no new mining. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---title---about">What Is A Diamond Known For?</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">Diamonds are known for their extreme hardness, unmatched brilliance, and rich sentimental value. They are made of nearly 100% carbon atoms and are so durable that the only other mineral that can scratch a diamond’s surface is another diamond.  </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---title---about"> Interesting Diamond Facts </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">1.The ancient Romans and Greeks believed that diamonds were tears cried by the gods or splinters from falling stars, and Romans believed that Cupid’s arrows were tipped with diamonds (perhaps the earliest association between diamonds and romantic love). </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">2. Diamonds are nearly as old as the earth and take billions of years to form deep in the pit of the earth. Very few diamonds survive the trip from the depths of the earth to the crust where they can be mined. No two diamonds are the same and carry their own unique properties such as internal inclusions and co</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">3. Diamonds form about 100 miles below ground and have been carried to the earth’s surface by deep volcanic eruptions. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="img---about---diamond2">

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">4. Diamonds are made of a single element—they are nearly 100% carbon. Under the extreme heat and pressure far below the earth’s surface, the carbon atoms bond in a unique way that results in diamonds’ beautiful and rare crystalline structure. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">5. The word diamond derives from the Greek word “adamas,” which means invincible or indestructible. Which makes sense because… </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">6. Diamonds are the hardest natural substance on earth ranking a 10 on the Mohs Scale of Hardness. The only thing that can scratch a diamond’s surface is another diamond. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="img---about---diamond3">

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">7. Diamonds have been valued and coveted for thousands of years by the likes of royalty and mythical beings. There is evidence that diamonds were being collected and traded in India as early as the fourth century BC. In the first century AD, the Roman naturalist Pliny is quoted as having said, “Diamond is the most valuable, not only of precious stones, but of all things in this world.”</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">8. Ancient Hindus used diamonds in the eyes of devotional statues and believed that a diamond could protect its wearer from danger.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">9. Many ancient cultures believed that diamonds gave the wearer strength and courage during battle, and some kings wore diamonds on their armor as they rode into battle. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="img---about---diamond4">

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">10. During the Middle Ages diamonds were thought to have healing properties able to cure ailments ranging from fatigue to mental illness. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">11. The countries that are the main sources of diamonds have changed over time. India was the world’s original source of diamonds, beginning in the 1400s when Indian diamonds began to be sold in Venice and other European trade centers. Then in the 1700s India’s diamond supplies declined and Brazil became the world’s major source of diamonds, until the late 1800s when a huge diamond reserve was discovered in South Africa. Today, diamonds are mined in many parts of the world. Brilliant Earth goes above and beyond the current industry standards to offer Beyond Conflict Free™ Diamonds. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">12. The largest diamond ever discovered was called the Cullinan diamond, and weighed in at an amazing 3106 carats, or 1.33 pounds. Discovered in 1905 in South Africa, the mine’s owner and the South African leaders gave the diamond to King Edward. The Cullinan was eventually cut into nine large diamonds and 100 smaller ones, and the three largest of these are on display in the Tower of London as part of the crown jewels. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="img---about---diamond5">

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">13. The first known use of a diamond engagement ring took place in 1477, when Archduke Maxmillian of Austria gave Mary of Burgundy a gold ring featuring an M spelled out in diamonds. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">14. Lab diamonds have the same physical, chemical, and optical properties as mined diamonds. They are sustainable diamonds that have minimal environmental impact and require no new mining. Lab diamonds are created in a lab using advanced technologies that simulate the formation of a natural diamond beneath the earth’s crust. Discover Brilliant Earth’s collection of lab diamonds. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">15. The most mind-blowing diamond facts of all: Scientists have discovered a planet that they believe is composed mostly of carbon and is one-third pure diamond! Discovered in 2004, the planet orbits a nearby star in the Milky Way, and is named “55 Cancri e” (which, in our opinion, is not a sufficiently glamorous name for such an extraordinary planet). Perhaps even more amazing, scientists have discovered a star that is essentially a diamond of ten billion trillion carats. They named the star Lucy after the Beatles song “Lucy in the Sky with Diamonds.” (We approve.) </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">While diamonds have clearly created a lot of joy for people throughout history, they have too often resulted in suffering in the communities where they are mined. At Brilliant Earth we believe diamonds shine brighter when they are sourced in an ethical, environmentally friendly way. We go above and beyond the current industry standards to offer Beyond Conflict Free™ Diamonds that have been selected for their ethical and environmentally responsible origins. Learn more about the issues surrounding diamond mining, and what we are doing to bring about change. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---title---about">Final Thoughts</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text---content---about">Did you already know these interesting facts about diamonds or were they news to you? Let us know your thoughts on Facebook or Twitter, or in the comments section! </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
