
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="img---contact-br">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text---contact---name mt-5 mb-4">Contact</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <p class="text---contact---phone">Phone</p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">0912312211</p>
            </div>
            <div class="row">
                <p class="text---contact---phone">Email</p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">sales@jewelsofthekimberley.com.au</p>
            </div>
            <div class="row">
                <p class="text---contact---phone">Address</p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">
                    20 Dampier Terrace
                </p>
            </div>
            <div class="row">
                <p class="text---contact---phone">Opening Hours</p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">
                    Closed for Christmas until 10/01/2024
                </p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">
                    Open by appointment only from 10/01/2024.
                </p>
            </div>
            <div class="row">
                <p class="text---contact---phonepx">
                    Please contact us.
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="text---contect-font" for="yourname">YOUR NAME:</label><br>
                                <input class="txt---name---email form-control" type="text" id="username" name="username"><br>
                            </div>
                            <div class="col-md-6">
                                <label class="text---contect-font" for="email">YOUR EMAIL:</label><br>
                                <input class="txt---name---email form-control mb-4" type="email" id="email" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text---contect-font" for="phone">YOUR Phone:</label><br>
                                <input class="txt---name---email form-control" type="phone" id="phone" name="phone">
                            </div>
                            <div class="col-md-12">
                                <label class="text---contect-font mt-4" for="messege">YOUR MESSAGE:</label><br>
                                <textarea rows="5" cols="96" class="text---area form-control" id="message"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button class="btn--dark--model submit---contact" type="submit">submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>