
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active causorel---policy">
            <img src="~/Content/Image/Policy/1.png" class="img---policy" alt="Los Angeles">
        </div>
        <div class="carousel-item causorel---policy">
            <img src="~/Content/Image/Policy/2.png" class="img---policy" alt="Chicago">
        </div>
        <div class="carousel-item causorel---policy">
            <img src="~/Content/Image/Policy/3.png" class="img---policy" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>



<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <p class="text---policy---cline">WARRANTY POLICY</p>
            <div class="text---policy---home">
                <p class="text---policy---titel">AFTER-SALES POLICY – YASH PRODUCT WARRANTY</p>
                <p class="text---policy---titel">CONTENT: </p>
                <p class="text---policy---contect text---f3">1. Regulations on receiving after-sales warranty:</p>
                <p class="text---policy---contect text---f1">1.1. Warranty acceptance conditions:</p>
                <ul>
                    <li class="text---policy---contect">There is a sales invoice from  YASH ART or information about whether the customer purchased the product is still stored on the YASH ART system.</li>
                    <li class="text---policy---contect">Product warranty: Applicable to all products distributed by YASH ART.</li>
                    <li class="text---policy---contect">For insurance products due to falling gems and diamonds: The receiving consultant is responsible for checking directly with the customer about the stone falling error (customer error/technical error).</li>
                    <li class="text---policy---contect">When receiving the warranty, the consultant is responsible for informing the customer about the warranty period and warranty fee (if any). Warranty is not accepted in the following cases:</li>
                </ul>
                <p class="text---policy---contect text---f2">- The product is not from YASH ART.</p>
                <p class="text---policy---contect text---f2">- The product is deformed or severely damaged (broken, broken, discolored...)</p>
                <p class="text---policy---contect text---f2">- The product does not have an invoice or the invoice cannot be extracted.</p>
                <p class="text---policy---contect text---f2">- The product is beyond the after-sales warranty period.</p>
                <p class="text---policy---contect text---f1">1.2. Warranty procedures</p>
                <p class="text---policy---contect text---f2">- The consultant receives the defective product and conducts a check on the system and the HMBH service record and clearly states the item number, product code, purchase date and attached Invoice.</p>
                <p class="text---policy---contect text---f3 ">2. Warranty period:</p>
                <p class="text---policy---contect text---f1">o 12-month free warranty from the date of sales invoice (the period to ensure product durability under normal conditions without exposure to chemicals, detergents and physical impacts) for defects about technique.</p>
                <p class="text---policy---contect text---f1">o Warranty for the next 12 months with a fee according to PNJP's regulations on other product details (polish / Stone / Frame / Base).</p>
                <p class="text---policy---contect text---f1">o After 24 months from invoice date: PNJP does not accept after-sales warranty.</p>
                <p class="text---policy---contect text---f3 ">3. Warranty period:</p>
                <p class="text---policy---contect text---f1"> - From 20 - 30 working days (Excluding Saturdays, Sundays and holidays) from the date YASH ART receives the warranty product.</p>
                <p class="text---policy---contect text---f3 ">4. Warranty fee:</p>


                    <table class="table table-bordered ml---policy">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Line of goods</th>
                                <th>Warranty fee</th>
                                <th>Warranty content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Fine art jewelry products, high quality alloy materials</td>
                                <td>30% of the product selling price stated on the invoice.</td>
                                <td>
                                    - Renew products, replace nametags, frames, containers

                                    - Shipping costs (if any, or 5% of product value)
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>24K gold statue</td>
                                <td>
                                    - No product warranty.

                                    - Calculate the cost of semi-finished products based on the actual weight of raw materials (gold/platinum...), the cost of base/box
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>