
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text---policy---contect text---f3 text---magintop">4C STANDARD</p>
            <p class="text---italic---rules">Understanding the standards of a diamond is the fastest way to bring you closer to this masterpiece of creation. And 4CS is considered the assessment standard with the highest accuracy.</p>
            <p class="text---policy---contect text---f1 text---bold mt-3">1. Cut </p>
            <p class="text---italic---rules">This is the most important standard of a diamond. It is likened to a whisper that "awakens" rough stones to awaken and sparkle. Diamond enthusiasts will often choose Round Brilliant Cut - a masterpiece with 57 perfectly symmetrical cuts. All incoming light is fully reflected onto the surface, radiating the aura of 7 rainbow colors, also known as the "fire" of diamonds.</p>
            <img width="100%" src="~/Content/Image/Rules/cut.png" />
            <p class="text---policy---contect text---f1 text---bold mt-3">2. CARAT </p>
            <p class="text---italic---rules">A unit of measurement for the weight of a diamond. One carat = 0.2 grams. The weight of small diamonds is often divided into points. 1 carat corresponds to 100 points. Carat is not a factor in determining price. With the same carat, the value of two diamonds can vary greatly, due to differences in cut, color and purity.</p>


            <img width="100%" src="~/Content/Image/Rules/carat.png" />
            <p class="text---policy---contect text---f1 text---bold mt-3">3. CLARITY </p>
            <p class="text---italic---rules">Measured based on the number of defects, including external blemishes (blemishes) and internal inclusions (inclusions). There are many different purity grading systems around the world. YASHLab classifies purity based on GIA (Gemological Institute of America) standards.</p>

            <img width="100%" src="~/Content/Image/Rules/clarity.png" />
            <p class="text---policy---contect text---f1 text---bold mt-3">4. COLOR </p>
            <p class="text---italic---rules">According to the grading tables of GIA (Gemological Institute of America) and PNJLab, diamond colors are divided into many levels, corresponding to characters. Starting from the letter D (color - less) to the letter Z (light yellow). The closer the diamond is to the colorless level, the rarer and higher the value.</p>

            <img width="100%" src="~/Content/Image/Rules/color.png" />
            <p class="text---italic---rules mt-4">Getting diamonds is difficult, but valuing them is even more difficult. Master the 4CS standards to have a worthy "investment" in this top gemstone. Always choosing meticulously by screening from millions of diamonds in the world, YASH will certainly not disappoint you.</p>
        </div>

    </div>
</div>